#This is for FASTAPI CORE
fastapi==0.109.0
uvicorn[standard]==0.27.0
python-multipart==0.0.6

#This if for DATABASE
sqlalchemy==2.0.25
alembic==1.13.1
aiosqlite==0.19.0
 #Traker_Env_Venv/bin/activate
#Processing datavase
pandas
openpyxl==3.1.2  #for input file with waybill

# HTTP managers
httpx==0.26.0
aiohttp

# Output file generation
reportlab==4.0.9  #PDF
python-docx==1.1.0 #word

#validate and settings
pydantic
pydantic-settings
python-dotenv==1.0.0

#Utilitis
python-dateutil==2.8.2
pytz==2024.1

# View and Devepopmnebt
pytest==7.4.4
pytest-asyncio==0.23.3
black==24.1.1
flake8==7.0.0
mypy==1.8.0

#db Driver for deployment
psycopg2-binary==2.9.9
aiofiles==23.2.1

apscheduler==3.10.4
pyYAML==6.0.1